<h1>Hello Angular</h1>

<div class="container">
    <div class="row">
        <div class="col-12">
            <!-- <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">contact</th>
                    <th scope="col">email</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of persons">
                    {{data}}
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                  </tr>
                </tbody>
              </table> -->
            <app-products></app-products>
            <!-- <app-students></app-students>  -->
        </div>
    </div>
</div>