<h1>Hello Angular</h1>

<div class="container">
    <div class="row">
        <div class="col-12">
            <!-- <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">contact</th>
                    <th scope="col">email</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of persons">
                    {{data}}
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                  </tr>
                </tbody>
              </table> -->
              <ul class="list-group mb-4">
                <li class="list-group-item" *ngFor="let skill of skills"> I love {{skill}}</li>         
            </ul>

            <ul class="list-group mb-4">
                <li class="list-group-item" *ngFor="let playr of players"> They made us proud named as {{playr}}</li>
            </ul>
            <ul class="list-group mb-4">
                <li class="list-group-item" *ngFor="let sprt of sports"> We have to play {{sprt}}</li>
            </ul>
            <ul class="list-group mb-4">
                <li class="list-group-item" *ngFor="let comp of sportComp"> We love products of {{comp}}</li>
            </ul>
            <ul class="list-group mb-4">
                <li class="list-group-item" *ngFor="let car of cars"> I love to drive {{car}}</li>
            </ul>
            <!-- <app-products></app-products> -->
            <!-- <app-students></app-students>  -->
        </div>
    </div>
</div>