<h1>Hello Angular</h1>

<div class="container">
    <div class="row">
        <div class="col-12">

          <app-products></app-products>

          <!-- <p [innerHTML]="pName"></p>
          <p [innerText]="'Iphone'"></p> -->

          <input type="text" [value]="Iphone" class="form-control my-4">

            <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Email</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of persons">
                    
                    <td>{{data.fname}}</td>
                    <td>{{data.lname}}</td>
                    <td>@{{data.email}}</td>
                    <td>@{{data.contact}}</td>
                  </tr>
                </tbody>
            </table>

            <table class="table table-dark">
              <thead>
                <tr>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Contact</th>
                  <th scope="col">Email</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let plr of players2">
                  
                  <td>{{plr.name}}</td>
                  <td>{{plr.sport}}</td>
                  <td>{{plr.jersey_Num}}</td>
                  <td>{{plr.country}}</td>
                </tr>
              </tbody>
          </table>





              <ul class="list-group mb-4">
                <li class="list-group-item" *ngFor="let skill of skills"> I love {{skill}}</li>         
            </ul>

            <ul class="list-group mb-4">
                <li class="list-group-item" *ngFor="let playr of players"> They made us proud named as {{playr}}</li>
            </ul>
            <ul class="list-group mb-4">
                <li class="list-group-item" *ngFor="let sprt of sports"> We have to play {{sprt}}</li>
            </ul>
            <ul class="list-group mb-4">
                <li class="list-group-item" *ngFor="let comp of sportComp"> We love products of {{comp}}</li>
            </ul>
            <ul class="list-group mb-4">
                <li class="list-group-item" *ngFor="let car of cars"> I love to drive {{car}}</li>
            </ul>
            
            <!-- <app-students></app-students>  -->
        </div>
    </div>
</div>