<h2>We are in Products Component</h2>

<!-- <button class="btn btn-primary">click</button> -->

<div class="container">
    <div class="row">
        <div class="col-12">

            <button class="btn btn-primary" 
            (click)="onProductAdd()"
            [disabled]="!isFormValid">Add Product</button>
            
           
            <button class="btn btn-danger  ml-4"
            (click)="onRemoveProduct()"
            [disabled]="count === 0"
            >Remove Product</button>

            <p class="alert alert-info my-4">
                {{productStatus}}
            </p>

            <hr>

            <input type="text" class="form-control"
            (keyup)="onProductSearch($event)"
            >
            <input type="text" class="form-control"
            [(ngModel)]="productSearchValue"
            >
            <p [innerHTML]="productSearchValue"
            *ngIf="productSearchValue.length > 0"
            class="alert alert-warning"></p> 
            <!-- ye hume tabhi show krna hai jb kuch data insert ya type hoga. -->

            
        </div>
    </div>
</div>

